.react-calendar {
  font-family: 'Montserrat', sans-serif;
  border-width: 0px;
  width: 40%;

  &__tile {
    padding: 10px 2px;
    border-radius: 30px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

    &:disabled {
      background-color: transparent;
    }

    &--now, &--now:enabled:hover, &--now:enabled:focus {
      background: #f7f7f7;
      abbr {
        color: #202020;
      }
    }

    &--active, 
    &--active:enabled:hover, 
    &--active:enabled:focus, 
    &--hasActive, 
    &--hasActive:enabled:hover,
    &--hasActive:enabled:focus {
      background: #799c7b;// #313639;
      abbr {
        color: #f8f8ff;
      }
    }
  }

  &__navigation {
    margin-bottom: 0px;

    button:enabled:hover, button:enabled:focus {
      border-radius: 8px;
    }

    button[disabled] {
      background-color: transparent
    }

    &__label__labelText {
      font-weight: bold;
      font-size: 16px;
      font-family: 'Montserrat', sans-serif;
      color: #799c7b;
    }

    &__arrow {
      font-size: 24px;
      font-weight: bold;
    }

    &__prev2-button, &__next2-button {
      display: none;
    }
  }

  &__month-view {
    &__weekdays {
      padding: 10px 3px 0 3px;

      abbr {
        color: #a4a4a4;
        font-size: 14px;
      }
    }

    &__days {
      abbr {
        font-weight: bold;
      }

      &__day {
        &[disabled] {
          color: #101010;
          opacity: 30%;
        }
      }

      &__day--neighboringMonth {
        color: #101010;
        opacity: 30%;
      }
    }
  }
}

abbr {
  text-decoration: none;
  text-transform: capitalize;
  color: #202020; // off black for calendar numbers
}