.react-calendar {
  border-width: 0px;
  width: 480px;

  &__tile {
    padding: 20px 5px;
    border-radius: 6px;
    font-size: 21px;

    &--active, 
    &--active:enabled:hover, 
    &--active:enabled:focus, 
    &--hasActive, 
    &--hasActive:enabled:hover,
    &--hasActive:enabled:focus {
      background: #313639;
      color: #f8f8ff;
    }
  }

  &__navigation {
    margin-bottom: 0px;

    &__label__labelText {
      font-weight: bold;
      font-size: 21px;
    }

    &__arrow {
      font-size: 24px;
      font-weight: bold;
    }

    &__prev2-button, &__next2-button {
      display: none;
    }
  }

  &__month-view {
    &__weekdays abbr {
      color: #a4a4a4;
      font-size: 18px;
    }

    &__days {
      abbr {
        font-weight: bold;
      }

      &__day--weekend {
        color: #313639;
      }

      &__day--neighboringMonth {
        color: #a4a4a4;
      }
    }
  }
}

abbr {
  text-decoration: none;
  text-transform: capitalize;
}