.plant-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 12px;
}

.plant-img-container {
  height: 70px;
  width: 70px;
  margin: 5px 15px;
  background-color: white; 
  border-radius: 50%;
  border: 4px solid #EAEAEA;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  // hide radio button for a11y 
  [type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  label {
    display: flex;
    cursor: inherit;
    width: 60px;

    img {
      height: 100%;
      width: 100%;
    }
  }
}

.plant-info {
  position: absolute;
  display: none;
  margin-top: -95px;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0 ,0, 0.05);
  text-align: left;

  &-name {
    color: #8aab8c;
    font-weight: 800;
    font-size: 14px;
    padding-bottom: 5px;
  }
}

.plant-container:hover {
  .plant-info {
    display:block;
  }
}

.watered {
  background-color: #abd9e9;
  border: 4px solid #abd9e9;
}

.selected {
  border: 4px solid #8aab8c;
}

.not-selectable {
  cursor: auto;
}
