.plant {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 12px;
}

.plant-img {
  height: 99px;
  width: 99px;
  margin: 5px;
  background-color: white; 
  border-radius: 50%;
  border: 1px solid #EAEAEA;

  display: flex;
  justify-content: center;
  align-items: center;
}