.details {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.detail {
  padding: 10px;

  label {
    display: block;
    font-weight: 600;
    color: #3B9363;
    padding-bottom: 10px;
  }

  input[type='text'] {
    border-radius: 100px; 
    border: 1px solid #EAEAEA;
    height: 30px;
    width: 300px;
  }
}