.plant {
  height: 60px;
  width: 60px;
  margin: 5px;
  background-color: white; 
  border-radius: 50%;
  border: 1px solid #EAEAEA;

  display: flex;
  justify-content: center;
  align-items: center;
}