.background {
  background-color: #E7F3DF;
  height: 100vh;
  max-height: 100%;
}

.container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 30px;
  border-radius: 45px;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-shadow: 0px 4px 20px rgba(0,0,0, 0.05);
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 80%;
  margin: auto;
}

.calendar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  box-sizing: border-box;
  padding: 20px 0px;
}
