.select-container {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 45px;

  display: flex;
  justify-content: center;
  align-items: center;

  // position: absolute;
  // bottom: 0; 
  // left: 0;
  // width: 100%;
  // box-sizing: border-box;
}