.select-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;

  background-color: #f7f7f7;
  padding: 20px 50px;
  border-radius: 45px;
  box-sizing: border-box;
}

.button {
  color: #3B9363;
  font-size: 16px;
  border-width: 0px;
  background-color: transparent;
  padding: 0 15px;
  cursor: pointer;
}

.submit {
  font-weight: 800;
}

.select-steps {
  display: flex;
  justify-content: center;
}

.cancel {
  color: #9D9D9D;
}