.select-container {
  display: flex;
  align-items: center;
  width: 100%;

  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 45px;
  box-sizing: border-box;

}

.plant-select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}